<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AuditedRepository" version="0.0.13-beta" targetFramework="net452" />
  <package id="AuditedRepository.Json" version="0.0.2-beta" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
</packages>